body{
    display: flex;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}
#container{
    flex-grow: 1;
}
footer{
    display: flex;
    justify-content: space-around;
    width: 100%;
}