/*テーマカラー	#43D8B2
全体の背景#40FECE
メニュー	#43B89A
ロゴ	#555555
本文見出し1	#34E5B8
本文見出し2	#84FFE0
サイドバー見出し#C1FFEF
サイドバー背景	#EAFFFA*/


* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	width:100vw;
	min-width: 300px;
}
header {
	background: #43D8B2;
	display: flex;
	flex-direction: row;
	box-shadow: 0px px 4px gray;
	margin-bottom:16px;
}

nav {
	background: #EAFFFA;
}

main{
	flex-grow: 1;
	display: flex;
	justify-content: space-around;
	align-content: space-around;
	flex-wrap: wrap;
}

.item {
	box-shadow:1px 1px 2px gray;
	height: 200px;
	width: 250px;
	margin:4px; 
	
}

footer{
	background: #43D8B2;
	height: 2em;
}
