
.dark-primary-color    { background: #1976D2; }
.default-primary-color { background: #2196F3; }
.light-primary-color   { background: #BBDEFB; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FF9800; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }

.pure-drawer {
  background-color: #009944;
}

#drawer{
	display:flex;
	flex-direction:column;
	align-items:         center;
}
.drawer_item{
	font-size:13vh;
}
#drawer_space{
	height:14vh;
}

#body{
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
header{
	display:flex;
	flex-direction:row-reverse;
	align-items:         center;
	width:100%;
	height: 14vh;
	background: #f8dce0 url("../images/home_header.png");
	background-size:cover;
}
header div{
	
}
   #content {
      flex: 1;
      background: yellow;
    }
    footer {
      background: blue;
    }